.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-left: 140px;
    position: relative;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.delete-btn{
    width: 16%;
    margin-bottom: 10px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.review-btn{
    width: 16%;
    height: 30px;
    border: none;
    border-radius: 10px;
}
 .review-btn:hover{
    background-color: orange;
    color: aliceblue;
    font-size: large;
    font-weight: 700;
}
.delete-btn:hover{
    background-color: red;
    color: aliceblue;
    font-size: large;
    font-weight: 700;
}